body
{
    background-color: #2f2f2f;
    font-family: Arial;
    color: white;
    font-weight: bold;
}

.box {
    font-family: Arial;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
  }

