





















   body {    

 background: rgb(255,190,0);
background: radial-gradient(circle, rgba(255,190,0,1) 0%, rgba(255,140,163,1) 100%); 



}




   span { 

 background: rgb(57,57,57);
background: linear-gradient(51deg, rgba(57,57,57,1) 53%, rgba(255,255,255,1) 100%); 

}
   span {font-family: Arial}
  
  mid {     position:relative; top:250px; left:0px; margin-left:0px; margin-right:0px;      }


  top {     position:relative; top:0px; left:0px; margin-left:0px; margin-right:0px;      }

  button {
        display: inline-block;
        background-color: #FFFFFF;
        padding: 20px;
        width: 200px;
        color: #000000;
        text-align: center;
        border: 4px #000000; 
        border-radius: 10px; 
        font-size: 28px; 
        cursor: pointer;
  -webkit-transition: all 0.5s; /*  chrome, safari, etc */
  -moz-transition: all 0.5s; /*  firefox */
  -o-transition: all 0.5s; /*  opera */
  transition: all 0.2s;


  }







@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}








  button:hover {
  background-color: #000000;
  color: #FFFFFF;
  }

   button:active {
    position: relative;  
    border-radius: 2.5px;
    border: 2px double #000000;

    top: 5px;
    color: #000000;
    background-color: #838383;
  
}


 embed { display: none; }
  button:active + embed { display: block; border-radius: 25px;}

  button:active {

  




  }



